--
-- PostgreSQL database dump
--

-- Dumped from database version 15.8 (Debian 15.8-1.pgdg110+1)
-- Dumped by pg_dump version 15.8 (Debian 15.8-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.traffic_data DROP CONSTRAINT IF EXISTS traffic_data_street_id_fkey;
ALTER TABLE IF EXISTS ONLY public.system_config DROP CONSTRAINT IF EXISTS system_config_updated_by_fkey;
ALTER TABLE IF EXISTS ONLY public.streets DROP CONSTRAINT IF EXISTS streets_district_id_fkey;
ALTER TABLE IF EXISTS ONLY public.predictions DROP CONSTRAINT IF EXISTS predictions_street_id_fkey;
ALTER TABLE IF EXISTS ONLY public.incidents DROP CONSTRAINT IF EXISTS incidents_street_id_fkey;
ALTER TABLE IF EXISTS ONLY public.incidents DROP CONSTRAINT IF EXISTS incidents_created_by_fkey;
ALTER TABLE IF EXISTS ONLY public.feedback DROP CONSTRAINT IF EXISTS feedback_street_id_fkey;
ALTER TABLE IF EXISTS ONLY public.audit_log DROP CONSTRAINT IF EXISTS audit_log_user_id_fkey;
DROP INDEX IF EXISTS public.ix_users_id;
DROP INDEX IF EXISTS public.ix_users_email;
DROP INDEX IF EXISTS public.ix_streets_id;
DROP INDEX IF EXISTS public.ix_incidents_id;
DROP INDEX IF EXISTS public.ix_feedback_id;
DROP INDEX IF EXISTS public.ix_districts_id;
DROP INDEX IF EXISTS public.idx_weather_timestamp;
DROP INDEX IF EXISTS public.idx_traffic_street_time;
DROP INDEX IF EXISTS public.idx_traffic_street_seg_time;
DROP INDEX IF EXISTS public.idx_streets_geometry;
DROP INDEX IF EXISTS public.idx_predictions_street_time;
DROP INDEX IF EXISTS public.idx_incidents_active_street;
DROP INDEX IF EXISTS public.idx_feedback_street_time;
DROP INDEX IF EXISTS public.idx_districts_geometry;
ALTER TABLE IF EXISTS ONLY public.weather_snapshots DROP CONSTRAINT IF EXISTS weather_snapshots_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.traffic_data DROP CONSTRAINT IF EXISTS traffic_data_pkey;
ALTER TABLE IF EXISTS ONLY public.system_config DROP CONSTRAINT IF EXISTS system_config_pkey;
ALTER TABLE IF EXISTS ONLY public.streets DROP CONSTRAINT IF EXISTS streets_pkey;
ALTER TABLE IF EXISTS ONLY public.predictions DROP CONSTRAINT IF EXISTS predictions_pkey;
ALTER TABLE IF EXISTS ONLY public.incidents DROP CONSTRAINT IF EXISTS incidents_pkey;
ALTER TABLE IF EXISTS ONLY public.feedback DROP CONSTRAINT IF EXISTS feedback_pkey;
ALTER TABLE IF EXISTS ONLY public.districts DROP CONSTRAINT IF EXISTS districts_pkey;
ALTER TABLE IF EXISTS ONLY public.audit_log DROP CONSTRAINT IF EXISTS audit_log_pkey;
ALTER TABLE IF EXISTS ONLY public.alembic_version DROP CONSTRAINT IF EXISTS alembic_version_pkc;
ALTER TABLE IF EXISTS public.weather_snapshots ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.traffic_data ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.streets ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.predictions ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.incidents ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.feedback ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.districts ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.audit_log ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.weather_snapshots_id_seq;
DROP TABLE IF EXISTS public.weather_snapshots;
DROP SEQUENCE IF EXISTS public.users_id_seq;
DROP TABLE IF EXISTS public.users;
DROP SEQUENCE IF EXISTS public.traffic_data_id_seq;
DROP TABLE IF EXISTS public.traffic_data;
DROP TABLE IF EXISTS public.system_config;
DROP SEQUENCE IF EXISTS public.streets_id_seq;
DROP TABLE IF EXISTS public.streets;
DROP SEQUENCE IF EXISTS public.predictions_id_seq;
DROP TABLE IF EXISTS public.predictions;
DROP SEQUENCE IF EXISTS public.incidents_id_seq;
DROP TABLE IF EXISTS public.incidents;
DROP SEQUENCE IF EXISTS public.feedback_id_seq;
DROP TABLE IF EXISTS public.feedback;
DROP SEQUENCE IF EXISTS public.districts_id_seq;
DROP TABLE IF EXISTS public.districts;
DROP SEQUENCE IF EXISTS public.audit_log_id_seq;
DROP TABLE IF EXISTS public.audit_log;
DROP TABLE IF EXISTS public.alembic_version;
DROP EXTENSION IF EXISTS postgis_topology;
DROP EXTENSION IF EXISTS postgis_tiger_geocoder;
DROP EXTENSION IF EXISTS postgis;
DROP EXTENSION IF EXISTS fuzzystrmatch;
DROP SCHEMA IF EXISTS topology;
DROP SCHEMA IF EXISTS tiger_data;
DROP SCHEMA IF EXISTS tiger;
--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: myadmin
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO myadmin;

--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: myadmin
--

CREATE SCHEMA tiger_data;


ALTER SCHEMA tiger_data OWNER TO myadmin;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: myadmin
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO myadmin;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: myadmin
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO myadmin;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.audit_log (
    id bigint NOT NULL,
    user_id integer,
    action character varying(100) NOT NULL,
    target_table character varying(50),
    target_id integer,
    detail json,
    ip_address character varying(45),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_log OWNER TO myadmin;

--
-- Name: audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.audit_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_log_id_seq OWNER TO myadmin;

--
-- Name: audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;


--
-- Name: districts; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.districts (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    geometry public.geometry(Polygon,4326)
);


ALTER TABLE public.districts OWNER TO myadmin;

--
-- Name: districts_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.districts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.districts_id_seq OWNER TO myadmin;

--
-- Name: districts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.districts_id_seq OWNED BY public.districts.id;


--
-- Name: feedback; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.feedback (
    id integer NOT NULL,
    street_id integer,
    lat double precision NOT NULL,
    lon double precision NOT NULL,
    report_type character varying(30),
    description text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.feedback OWNER TO myadmin;

--
-- Name: feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.feedback_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.feedback_id_seq OWNER TO myadmin;

--
-- Name: feedback_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.feedback_id_seq OWNED BY public.feedback.id;


--
-- Name: incidents; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.incidents (
    id integer NOT NULL,
    street_id integer NOT NULL,
    type character varying(50),
    start_time timestamp with time zone NOT NULL,
    end_time timestamp with time zone,
    severity integer NOT NULL,
    description text,
    status character varying(20) NOT NULL,
    is_active boolean NOT NULL,
    created_by integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT check_severity_valid CHECK ((severity = ANY (ARRAY[1, 2, 3]))),
    CONSTRAINT check_status_valid CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'dispatched'::character varying, 'resolved'::character varying])::text[])))
);


ALTER TABLE public.incidents OWNER TO myadmin;

--
-- Name: incidents_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.incidents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.incidents_id_seq OWNER TO myadmin;

--
-- Name: incidents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.incidents_id_seq OWNED BY public.incidents.id;


--
-- Name: predictions; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.predictions (
    id bigint NOT NULL,
    street_id integer NOT NULL,
    predicted_at timestamp with time zone DEFAULT now() NOT NULL,
    target_time timestamp with time zone NOT NULL,
    horizon_minutes integer NOT NULL,
    pred_speed double precision,
    pred_level integer,
    confidence double precision,
    CONSTRAINT check_confidence_range CHECK (((confidence >= (0.0)::double precision) AND (confidence <= (1.0)::double precision))),
    CONSTRAINT check_pred_level_valid CHECK ((pred_level = ANY (ARRAY[0, 1, 2])))
);


ALTER TABLE public.predictions OWNER TO myadmin;

--
-- Name: predictions_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.predictions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.predictions_id_seq OWNER TO myadmin;

--
-- Name: predictions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.predictions_id_seq OWNED BY public.predictions.id;


--
-- Name: streets; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.streets (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    district_id integer,
    geometry public.geometry(LineString,4326),
    length_km double precision,
    max_speed integer,
    is_one_way boolean NOT NULL
);


ALTER TABLE public.streets OWNER TO myadmin;

--
-- Name: streets_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.streets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.streets_id_seq OWNER TO myadmin;

--
-- Name: streets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.streets_id_seq OWNED BY public.streets.id;


--
-- Name: system_config; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.system_config (
    key character varying(100) NOT NULL,
    value character varying(500) NOT NULL,
    updated_by integer,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.system_config OWNER TO myadmin;

--
-- Name: traffic_data; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.traffic_data (
    id bigint NOT NULL,
    street_id integer NOT NULL,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL,
    avg_speed double precision,
    congestion_level integer,
    source character varying(20),
    segment_idx integer DEFAULT 0 NOT NULL,
    CONSTRAINT check_avg_speed_positive CHECK ((avg_speed >= (0)::double precision)),
    CONSTRAINT check_congestion_level_valid CHECK ((congestion_level = ANY (ARRAY[0, 1, 2])))
);


ALTER TABLE public.traffic_data OWNER TO myadmin;

--
-- Name: traffic_data_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.traffic_data_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.traffic_data_id_seq OWNER TO myadmin;

--
-- Name: traffic_data_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.traffic_data_id_seq OWNED BY public.traffic_data.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    full_name character varying(200),
    is_active boolean NOT NULL,
    failed_attempts integer NOT NULL,
    is_locked boolean NOT NULL,
    locked_until timestamp with time zone,
    last_login timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO myadmin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO myadmin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: weather_snapshots; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.weather_snapshots (
    id bigint NOT NULL,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL,
    source character varying(30),
    temperature double precision,
    humidity integer,
    wind_speed double precision,
    rain_1h_mm double precision,
    is_raining integer,
    visibility_km double precision,
    weather_group integer,
    weather_id integer
);


ALTER TABLE public.weather_snapshots OWNER TO myadmin;

--
-- Name: weather_snapshots_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.weather_snapshots_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.weather_snapshots_id_seq OWNER TO myadmin;

--
-- Name: weather_snapshots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.weather_snapshots_id_seq OWNED BY public.weather_snapshots.id;


--
-- Name: audit_log id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id SET DEFAULT nextval('public.audit_log_id_seq'::regclass);


--
-- Name: districts id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.districts ALTER COLUMN id SET DEFAULT nextval('public.districts_id_seq'::regclass);


--
-- Name: feedback id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.feedback ALTER COLUMN id SET DEFAULT nextval('public.feedback_id_seq'::regclass);


--
-- Name: incidents id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.incidents ALTER COLUMN id SET DEFAULT nextval('public.incidents_id_seq'::regclass);


--
-- Name: predictions id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.predictions ALTER COLUMN id SET DEFAULT nextval('public.predictions_id_seq'::regclass);


--
-- Name: streets id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.streets ALTER COLUMN id SET DEFAULT nextval('public.streets_id_seq'::regclass);


--
-- Name: traffic_data id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.traffic_data ALTER COLUMN id SET DEFAULT nextval('public.traffic_data_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: weather_snapshots id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.weather_snapshots ALTER COLUMN id SET DEFAULT nextval('public.weather_snapshots_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public.alembic_version (version_num) FROM stdin;
ac1b3ceb1a6b
\.


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public.audit_log (id, user_id, action, target_table, target_id, detail, ip_address, created_at) FROM stdin;
\.


--
-- Data for Name: districts; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public.districts (id, name, geometry) FROM stdin;
1	Hải Châu	\N
2	Thanh Khê	\N
3	Sơn Trà	\N
4	Ngũ Hành Sơn	\N
5	Liên Chiểu	\N
6	Cẩm Lệ	\N
7	Hòa Vang	\N
8	Hoàng Sa	\N
\.


--
-- Data for Name: feedback; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public.feedback (id, street_id, lat, lon, report_type, description, created_at) FROM stdin;
\.


--
-- Data for Name: incidents; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public.incidents (id, street_id, type, start_time, end_time, severity, description, status, is_active, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: predictions; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public.predictions (id, street_id, predicted_at, target_time, horizon_minutes, pred_speed, pred_level, confidence) FROM stdin;
\.


--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: streets; Type: TABLE DATA; Schema: public; Owner: myadmin
--



--
-- Data for Name: system_config; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public.system_config (key, value, updated_by, updated_at) FROM stdin;
\.


--
-- Data for Name: traffic_data; Type: TABLE DATA; Schema: public; Owner: myadmin
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public.users (id, email, password_hash, role, full_name, is_active, failed_attempts, is_locked, locked_until, last_login, created_at) FROM stdin;
1	admin@danang-traffic.vn	$2b$12$BvoRthJ80fguIFsQqNzbBeZQoqT1vCvJWQ1eMzm4NU8qYl40FO8gq	admin	Quản trị viên hệ thống	t	0	f	\N	2026-05-05 16:46:14.983082+07	2026-05-02 17:30:26.87937+07
\.


--
-- Data for Name: weather_snapshots; Type: TABLE DATA; Schema: public; Owner: myadmin
--



--
-- Data for Name: geocode_settings; Type: TABLE DATA; Schema: tiger; Owner: myadmin
--

COPY tiger.geocode_settings (name, setting, unit, category, short_desc) FROM stdin;
\.


--
-- Data for Name: pagc_gaz; Type: TABLE DATA; Schema: tiger; Owner: myadmin
--

COPY tiger.pagc_gaz (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_lex; Type: TABLE DATA; Schema: tiger; Owner: myadmin
--

COPY tiger.pagc_lex (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_rules; Type: TABLE DATA; Schema: tiger; Owner: myadmin
--

COPY tiger.pagc_rules (id, rule, is_custom) FROM stdin;
\.


--
-- Data for Name: topology; Type: TABLE DATA; Schema: topology; Owner: myadmin
--

COPY topology.topology (id, name, srid, "precision", hasz) FROM stdin;
\.


--
-- Data for Name: layer; Type: TABLE DATA; Schema: topology; Owner: myadmin
--

COPY topology.layer (topology_id, layer_id, schema_name, table_name, feature_column, feature_type, level, child_id) FROM stdin;
\.


--
-- Name: audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.audit_log_id_seq', 1, false);


--
-- Name: districts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.districts_id_seq', 8, true);


--
-- Name: feedback_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.feedback_id_seq', 1, false);


--
-- Name: incidents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.incidents_id_seq', 1, false);


--
-- Name: predictions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.predictions_id_seq', 1, false);


--
-- Name: streets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.streets_id_seq', 58, true);


--
-- Name: traffic_data_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.traffic_data_id_seq', 30761, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: weather_snapshots_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.weather_snapshots_id_seq', 44, true);


--
-- Name: topology_id_seq; Type: SEQUENCE SET; Schema: topology; Owner: myadmin
--

SELECT pg_catalog.setval('topology.topology_id_seq', 1, false);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: districts districts_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.districts
    ADD CONSTRAINT districts_pkey PRIMARY KEY (id);


--
-- Name: feedback feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_pkey PRIMARY KEY (id);


--
-- Name: incidents incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_pkey PRIMARY KEY (id);


--
-- Name: predictions predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.predictions
    ADD CONSTRAINT predictions_pkey PRIMARY KEY (id);


--
-- Name: streets streets_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.streets
    ADD CONSTRAINT streets_pkey PRIMARY KEY (id);


--
-- Name: system_config system_config_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.system_config
    ADD CONSTRAINT system_config_pkey PRIMARY KEY (key);


--
-- Name: traffic_data traffic_data_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.traffic_data
    ADD CONSTRAINT traffic_data_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: weather_snapshots weather_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.weather_snapshots
    ADD CONSTRAINT weather_snapshots_pkey PRIMARY KEY (id);


--
-- Name: idx_districts_geometry; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE INDEX idx_districts_geometry ON public.districts USING gist (geometry);


--
-- Name: idx_feedback_street_time; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE INDEX idx_feedback_street_time ON public.feedback USING btree (street_id, created_at);


--
-- Name: idx_incidents_active_street; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE INDEX idx_incidents_active_street ON public.incidents USING btree (street_id) WHERE (is_active = true);


--
-- Name: idx_predictions_street_time; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE INDEX idx_predictions_street_time ON public.predictions USING btree (street_id, predicted_at);


--
-- Name: idx_streets_geometry; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE INDEX idx_streets_geometry ON public.streets USING gist (geometry);


--
-- Name: idx_traffic_street_seg_time; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE INDEX idx_traffic_street_seg_time ON public.traffic_data USING btree (street_id, segment_idx, "timestamp" DESC);


--
-- Name: idx_traffic_street_time; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE INDEX idx_traffic_street_time ON public.traffic_data USING btree (street_id, "timestamp");


--
-- Name: idx_weather_timestamp; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE INDEX idx_weather_timestamp ON public.weather_snapshots USING btree ("timestamp");


--
-- Name: ix_districts_id; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE INDEX ix_districts_id ON public.districts USING btree (id);


--
-- Name: ix_feedback_id; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE INDEX ix_feedback_id ON public.feedback USING btree (id);


--
-- Name: ix_incidents_id; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE INDEX ix_incidents_id ON public.incidents USING btree (id);


--
-- Name: ix_streets_id; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE INDEX ix_streets_id ON public.streets USING btree (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: audit_log audit_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: feedback feedback_street_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_street_id_fkey FOREIGN KEY (street_id) REFERENCES public.streets(id);


--
-- Name: incidents incidents_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: incidents incidents_street_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_street_id_fkey FOREIGN KEY (street_id) REFERENCES public.streets(id);


--
-- Name: predictions predictions_street_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.predictions
    ADD CONSTRAINT predictions_street_id_fkey FOREIGN KEY (street_id) REFERENCES public.streets(id);


--
-- Name: streets streets_district_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.streets
    ADD CONSTRAINT streets_district_id_fkey FOREIGN KEY (district_id) REFERENCES public.districts(id);


--
-- Name: system_config system_config_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.system_config
    ADD CONSTRAINT system_config_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(id);


--
-- Name: traffic_data traffic_data_street_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.traffic_data
    ADD CONSTRAINT traffic_data_street_id_fkey FOREIGN KEY (street_id) REFERENCES public.streets(id);


--
-- PostgreSQL database dump complete
--

